@charset "utf-8";
@font-face {
	font-family: "Radley Regular";
	src: url("Radley-Regular.ttf"); }
@font-face {
	font-family: "Goudy Bookletter 1911 Regular";
	src: url("GoudyBookletter1911-Regular.ttf"); }
@font-face {
	font-family: "Sorts Mill Goudy Regular";
	src: url("SortsMillGoudy-Regular.ttf"); }
@font-face {
	font-family: "Crimson Text Regular";
	src: url("CrimsonText-Regular.ttf"); }
@font-face {
	font-family: "EB Garamond Regular";
	src: url("EBGaramond-Medium.ttf"); }
@font-face {
	font-family: "Trocchi Regular";
	src: url("Trocchi-Regular.ttf"); }
html {
  font-family: "Trocchi Regular";
  font-size: 16px;
  color: #2b2b2b;
  background-color: #F7EDE1;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 32px;
  font-family: "Trocchi Regular";
}
