@charset "utf-8";
@font-face {
	font-family: "Radley Regular";
	src: url("Radley-Regular.ttf"); }
@font-face {
	font-family: "Goudy Bookletter 1911 Regular";
	src: url("GoudyBookletter1911-Regular.ttf"); }
@font-face {
	font-family: "Sorts Mill Goudy Regular";
	src: url("SortsMillGoudy-Regular.ttf"); }
@font-face {
	font-family: "Crimson Text Regular";
	src: url("CrimsonText-Regular.ttf"); }
@font-face {
	font-family: "EB Garamond Regular";
	src: url("EBGaramond-Medium.ttf"); }
@font-face {
	font-family: "Trocchi Regular";
	src: url("Trocchi-Regular.ttf"); }
html {
  font-family: "Trocchi Regular";
  font-size: 1.8vh;
  color: #2b2b2b;
  background-color: #F7F5F2;
  text-rendering: optimizeLegibility;
  word-spacing: 0.1em;
  font-feature-settings: 'kern', 'liga', 'cpsp' on;
}
body {
  width: auto;
  margin-inline: calc(max((100vw - 800px) / 2, 5vw));
  margin-bottom: 50vh;
}
h1 {
  font-size: 4.4vh;
  font-family: "Trocchi Regular";
}
h2 {
  font-size: 2.8vh;
}
hr {
  color: #2b2b2b;
  border-top: 2px solid #2b2b2b;
  border-bottom: 3px solid #d6d5eb;
}
img, video {
  border: 2px solid #2b2b2b;
  box-shadow: 0px 3px #d6d5eb;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2000;
}
.selfie {
  border: 2px solid #2b2b2b;
  width: 30%;
  border-radius: 50%;
}
a:link, a:visited {
  color: #585cdf;
}
a:hover {
  color: #4907FF;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
  margin-bottom: 1em;
}
li {
  float: left;
  padding-right: 10pt;
}
.overlay {
  background-image: url('overlay.png');
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
  background-repeat: repeat;
  background-size: auto;
  background-position: 0 0;
  mix-blend-mode: overlay;
  opacity: 0.5;
}
